DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SSL=
DB_SSL_CA=
DB_SSL_CA_PATH=
DB_CONNECTION_LIMIT=2
CORS_ORIGIN=http://localhost:4200,https://smart-lunch-api.f0kki0.me,https://smart-lunch-routing.f0kki0.me/
OSRM_BASE_URL=https://router.project-osrm.org
OSRM_TIMEOUT_MS=8000
